<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <style>
      #mymap {
        position: relative;
          width: 100.0%;
          height: 100.0%;
          left: 0.0%;
          top: 0.0%;
        }
      .leaflet-container { font-size: 1rem; }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="../static/leaflet.css">
    <script src="../static/leaflet.js"></script>
    <script src="../static/jquery-1.12.4.min.js"></script>
    <script src="../static/bootstrap.bundle.min.js"></script>
    <script src="../static/leaflet-beautify-marker-icon.min.js"></script>
    <link rel="stylesheet" href="../static/leaflet-beautify-marker-icon.min.css"/>
    <link rel="stylesheet" href="../static/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/all.min.css"/>
    <title>Rio de Janeiro buses map</title>
  </head>
  <body>
    <h1>Rio de Janeiro buses map. From 01-25-2019 to 03-21-2019</h1>
    <div id="mymap" class="folium-map" style = "width:1280; height:px;"></div>
    <script src="../static/map.js"></script>
  </body>
</html>
